.banner {
  background: url("../image/banner.jpeg") 66% 0% no-repeat;
  min-height: 100vh;
  color: white;
  position: relative;
  .banner_content {
    margin: 0;
    position: absolute;
    top: 80%;
    left: 50%;
    height: 100%;
    transform: translate(-50%, -50%);
    h2 {
      color: #ffffff;
      font-size: 72px;
      font-weight: 400;
      text-align: center;
      text-transform: uppercase;
      line-height: 80px;
      font-family: "Anton";
    }
    p {
      text-align: center;
      color: rgba(255, 255, 255, 0.6);
      font-weight: 400;
      margin-top: 180px;
      a {
        color: white;
        &:hover {
          text-decoration: underline;
        }
      }
      span {
        text-transform: capitalize;
      }
    }
  }
}
