// * Media Queries
@mixin phone {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: 768px) {
    @content;
  }
}

.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
  overflow: hidden;
  @include tablet() {
    grid-template-columns: 1fr;
    iframe {
      height: 100vh;
      display: block;
    }
  }
  .contact_from {
    background: #1c1c1c;
    padding-top: 95px;
    padding-bottom: 85px;
    padding-left: 10%;
    color: white;
    height: 100%;
    form.form {
      text-align: left;
      max-width: 485px;
      margin-right: auto;
      padding-top: 70px;
      input[type="text"],
      textarea {
        color: #ffffff;
        background: rgba(255, 255, 255, 0);
        font-size: 16px;
        line-height: 52px;
        width: 100%;
        height: 52px;
        border-top: 1px solid rgba(112, 112, 112, 0);
        border-right: 1px solid rgba(112, 112, 112, 0);
        border-bottom: 1px solid #707070;
        border-left: 1px solid rgba(112, 112, 112, 0);
        border-radius: 0px 0px 0px 0px;
        margin-bottom: 35px;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 15px;
        &:focus {
          outline: none !important;
        }
        &::placeholder {
          color: white;
        }
      }
      textarea {
        resize: none;
        height: 150px;
      }
    }
  }
  .contact_left {
    height: 100%;

    img {
      height: 100%;
      @include tablet() {
        display: none;
      }
    }
  }
}
