@import url("https://fonts.googleapis.com/css2?family=Anton&family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
.heading_title {
  padding-right: 15px;
  padding-bottom: 5px;
  padding-left: 15px;
  border-bottom: 2px solid #1c1c1c;
}
.heading {
  font-family: "Anton";
  color: #1c1c1c;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  text-transform: uppercase;
}

/* text */
.bold {
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  padding-top: 65px;
}
p {
  line-height: 28px;
  margin: 10px 0 25px 0;
}

/* img */
img {
  height: auto;
  max-width: 100%;
}

/* we are work */
.we_are .image_1 {
  display: inline;
  transition: all 400ms;
  margin-bottom: -8px;
}

/* * navBar * */
nav {
  padding: 40px 0px;
  background: black;
}
nav img {
  width: 115px;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: #fff;
}

li {
  font-size: 16px;
  line-height: 15px;
  color: #ffffff;
  font-weight: 600;
  text-transform: none;
  padding: 28px 20px 27px 20px;
}
a:after {
  content: "";
  position: absolute;
  width: 0px;
  height: 3px;
  background: #00d8ff;
  bottom: 0px;
  transition: 0.5s ease;
  left: 0;
}
a:hover:after {
  width: 100%;
  left: 0;
}
