@import url("https://fonts.googleapis.com/css2?family=Anton&family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
.heading_title {
  padding-right: 15px;
  padding-bottom: 5px;
  padding-left: 15px;
  border-bottom: 2px solid #1c1c1c;
}
.heading {
  font-family: "Anton";
  color: #1c1c1c;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  text-transform: uppercase;
}

/* text */
.bold {
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  padding-top: 65px;
}
p {
  line-height: 28px;
  margin: 10px 0 25px 0;
}

/* img */
img {
  height: auto;
  max-width: 100%;
}

/* we are work */
.we_are .image_1 {
  display: inline;
  transition: all 400ms;
  margin-bottom: -8px;
}
