h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: unset;
}
.container {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
}
.col-md-6 {
  width: 48%;
  margin: 0 1%;
}
